@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900');

body{
	background-color: #eeeeee;
}

.ba-container{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.ba-section {

	}

.ba-header {
	font-family: 'Roboto', sans-serif;
	color: #303030;
	padding-top: 50px;

}
.ba-header a {
	font-size: 48px;
	font-weight: 700;
}
.ba-header__nav{
	float: right;
}
.ba-header__nav ul{
	list-style: none;
}
.ba-header__nav ul li{
	float: left;
}
.ba-header__nav ul li a{
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	display: block;
	color: #303030;
	margin: 5px 0 40px 50px;
}
.ba-black__white{
margin: 50px 0 90px;
}


.ba-black__white img {
	float: right;
	margin: 0 100px 0 20px;
}

.ba-black__white__text {
	text-align: right;
	float: left;
	width: 615px;
}

.ba-black__white__text h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 150px;
	text-transform: uppercase;
	line-height: 150px;
	margin-top: -5px;
	margin-bottom: -20px;
	color: #303030;

}

.ba-black__white__text p{
	font-weight: 300;
	padding-top: 50px;
	padding-bottom: 30px;
}
.ba-black__white__text p a {
	font-family: 'Roboto', sans-serif;
	color: #303030;
	font-size: 24px;
}
.ba-black__white__text a {
	text-decoration: none;
	color: red;
	font-weight: 700;
}
.ba-sliders {
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;

}
.featured-products {
	background-color: #FFF;
	display: block;
	padding: 54px 70px 70px 70px;
}
.featured-products__header{
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	text-align: center;

}
.featured-products__header span {
	display: block;
	width: 585px;
	margin: 0 auto;
}

.featured-products__header span p{
	font-size: 18px;
}

.feature_products__items {

	display: block;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

.feature_products__items img {
	border-radius: 8px;
	width: 100%;
}

